html{
	font
	font-family: 'Merriweather', serif;
}

#body{
	overflow:hidden;
	margin:0px !important;
	background-color: "black";
}

#gameover{
	width:400px;
	border:1px solid #cfcfcf;
	text-align:center;
	background-color:#fff;
	border-radius:8px;
	margin:auto;
	padding:10px;
	/*display:none;*/
}
#overlay{
	position:fixed;
	top:10%;
	left:-30%;
	width:100%;
	height:100%;
	/*background-color:rgba(234, 109, 77, 1);*/
	/* Is someone there? */
	display:none;
}
#score{
	font-weight:bold;
	text-align:center;
	width:250px;
	padding:10px;
	margin:20px;
	border:0px;
	border-bottom:1px solid #afafaf !important;
	outline:none;
	background-color:#fff;
}
#namefield{
	font-weight:bold;
	text-align:center;
	width:250px;
	padding:10px;
	margin:20px;
	border:0px;
	border-bottom:1px solid #afafaf !important;
	outline:none;
}
#save{
	background-color:#5FAF64;
	border:0px;
	color:#fff;
	font-weight:bolder;
	font-family:"Merriweather", serif;
	font-size:2em;
	padding:20px;
	border-radius:7px;
	text-decoration: none;
}
#save:hover{
	background-color:#87D170;
	cursor:pointer;
}
#playagainbtn{
	background-color:#5FAF64;
	border:0px;
	color:#fff;
	font-weight:bolder;
	font-family:"Merriweather", serif;
	font-size:2em;
	padding:20px;
	border-radius:7px;
}
#playagainbtn:hover{
	background-color:#87D170;
	cursor:pointer;
}


#highscoreoverlay{
	position:absolute;
	top:0px;
	left:0px;
	display:block;
	min-width:100%;
	min-height:100%;
	background-color:#fff;
}

#iframe{
	min-width:100%;
	min-height:100%;
}